p {
    color:red;
    text-align: center;
}

utp{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blueviolet;
    font-size: 25px;
    text-align: center;
    text-decoration: double;
    text-overflow: ellipsis;
    
  

}  

.p-azul{
    color: blue;
    text-align: center;
}

h1{
    font-size: 12px;
    color: chartreuse;
    
}

.p-verde {
    color: green;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}